<div class="container" *ngIf="getAllTasks$ | async as tasks">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>
          <input
            class="edit-button"
            type="checkbox"
            (click)="onClick(task.id, task.title, task.description)"
          />
        </td>
        <td>
          {{ task.title }}
        </td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>
          <button
            class="btn btn-success btn-sm m-1"
            [routerLink]="['edit', task.id]"
          >
            Edit
          </button>
          <button
            class="btn btn-danger btn-sm m-1"
            (click)="deletProduct(task.id)"
          >
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-sm" routerLink="newTask">New Task</button>
</div>
