<div class="container" *ngIf="getAllTasks$ | async as task">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tasks of task">
        <td [ngClass]="tasks.status === 'concluido' ? 'todo' : ''">
          {{ tasks.title }}
        </td>
        <td>{{ tasks.description }}</td>
        <td>{{ tasks.status }}</td>
        <td>
          <input type="checkbox" />
        </td>
        <td>
          <button
            class="btn btn-success btn-sm m-1"
            [routerLink]="['edit', tasks.id]"
          >
            Edit
          </button>
          <button
            class="btn btn-danger btn-sm m-1"
            (click)="deletProduct(tasks.id)"
          >
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-sm" routerLink="add">New Task</button>
</div>
