<div class="container">
  <h1 *ngIf="">Edit task</h1>
  <h1 *ngIf="!isEdit">New task</h1>
  <h1 *ngIf="isEdit">Edit task</h1>
  <form [formGroup]="form">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        style="margin-bottom: 1rem; margin-top: 1rem"
        placeholder="task"
        formControlName="title"
      />
      <input
        type="text"
        class="form-control"
        style="margin-bottom: 1rem; margin-top: 1rem"
        placeholder="description"
        formControlName="description"
      />
      <select class="form-select mb-2" formControlName="status">
        <option *ngFor="let task of taskStatus">{{ task }}</option>
      </select>
    </div>
    <div>
      <button
        *ngIf="!isEdit"
        type="submit"
        class="btn btn-primary"
        (click)="postTask()"
      >
        Save task
      </button>
      <button
        *ngIf="isEdit"
        type="submit"
        class="btn btn-primary"
        (click)="updateTask()"
      >
        Save task
      </button>
      <button class="btn btn-success m-1" routerLink="/">Back</button>
    </div>
  </form>
</div>
