<div class="container">
  <h1 *ngIf="">Edit task</h1>
  <h1 *ngIf="!isEdit">New task</h1>
  <h1 *ngIf="isEdit">Edit task</h1>
  <form [formGroup]="form">
    <div class="form-group">
      <div>
        <input
          type="text"
          class="form-control"
          style="margin-bottom: 1rem; margin-top: 1rem"
          placeholder="task"
          formControlName="title"
        />
        <app-custom-validation
          [controlContainer]="form.get('title')!"
        ></app-custom-validation>
      </div>
      <div>
        <input
          type="text"
          class="form-control"
          style="margin-bottom: 1rem; margin-top: 1rem"
          placeholder="description"
          formControlName="description"
        />
        <app-custom-validation
          [controlContainer]="form.get('description')!"
        ></app-custom-validation>
      </div>
      <div>
        <select class="form-select mb-2" formControlName="status">
          <option *ngFor="let task of taskStatus">{{ task }}</option>
        </select>
        <app-custom-validation
          [controlContainer]="form.get('status')!"
        ></app-custom-validation>
      </div>
    </div>
    <div>
      <button
        *ngIf="!isEdit"
        type="submit"
        class="btn btn-primary"

        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="postTask()"
      >
        Save task
      </button>

      <button
        *ngIf="isEdit"
        type="submit"
        class="btn btn-primary"

        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        (click)="updateTask()"
      >
        Save task
      </button>
      <button class="btn btn-success m-1" routerLink="/">Back</button>
    </div>
  </form>
</div>

<div
  *ngIf="!form.valid"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Form not sent</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Check that the fields are correct</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
